{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :repl {:extra-paths ["dev"]
         :extra-deps {nrepl/nrepl {:mvn/version "1.3.0"}
                      cider/cider-nrepl {:mvn/version "0.51.1"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                      djblue/portal {:mvn/version "0.58.5"}
                      org.clojure/tools.namespace {:mvn/version "1.5.0"}}
         :main-opts ["--eval" "(apply require clojure.main/repl-requires)"
                     "--main" "nrepl.cmdline"
                     "--middleware" "[cider.nrepl/cider-middleware,portal.nrepl/wrap-portal]"
                     "--interactive"
                     "-f" "rebel-readline.main/-main"]}}}
